<!DOCTYPE html>
<html>
<head>
	<title>Lucidly</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" sizes="16x16" href="/assets/favicon.png" />

	<link rel="stylesheet" href="/assets/jquery.fullPage.css" />
	<link rel="stylesheet" href="/assets/stylesheet.css">

	<script src="/assets/jquery-3.2.0.min.js"></script>
	<script src="/assets/scrolloverflow.min.js"></script>
	<script src="/assets/jquery.fullPage.min.js"></script>
	<script src="https://use.fontawesome.com/4219565cda.js"></script>
	<script src="/assets/script.js"></script>

</head>

<body>

	<div id="wrapper">

		<div id="fullpage">
			<div id="work" class="section light">

			<a href="/work/" class="goback">&larr;</a>
			<br />
		   {{ content }}

			</div>
		</div>


	</div>

</body>
</html>